<table>
    <thead>
    </thead>
    <tbody>
        {{ $file := .Get "file" }}
        {{ $path := .Get "path" | default "" }}

        {{ $data := .Site.Data }}
        {{ if $path }}
            {{ $data = index $data $path }}
        {{ end }}

        {{ $data = index $data $file }}
        {{ range $data }}
        <tr>
            <td>
                {{ if .title }}
                    {{ .title }}
                {{ end }}
                {{ if .url }}
                    <a href="{{ .url }}">{{ .url }}</a>
                {{ end }}
                {{ if .description }}
                    <br>
                    <span class="description">{{ .description }}</span>
                {{ end }}
            </td>
        </tr>
        {{ end }}
    </tbody>
  </table>
